#strForMap {
	display: none;
}
#map {
	width: 890px;
	height: 650px;
	display: inline-block;
}
#control {
	width: calc(100% - 920px);
	min-width: 400px;
	padding: 10px;
	float:right;
	background-color: red;
}
.interaction {
	position: absolute;
}
.star {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.star:hover {
	opacity: 1;
}
.starName {
	color: red;
	background-color: black;
	position: absolute;
}
.startx {display:none;}
.starty {display:none;}