#strForMap {
	display: none;
}
#map {
	width: 890px;
	height: 650px;
	display: inline-block;
}
#control {
	width: calc(100% - 920px);
	min-width: 400px;
	padding: 10px;
	float:right;
	background-color: red;
}
.jump {
	width: 100px;
	height: 1px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
	transform: rotate(200deg);
	transform-origin: 0 0 0;
	background-color: grey;
}
.star {
	width: 3px;
	height: 3px;
	position: absolute;
	background-color: white;
}
.starName {
	margin-left: 104px;
	margin-top: 94px;
	display: block;
	position: absolute;
	font-size: 8px;
	color: white;
}
.startX {display:none;}
.startY {display:none;}