/* Для графика активности */

#timeSelector {
	margin: 10px;
	float: left;
}
#graphTools {
	float: right;
	margin: 10px;
}
#strForChart { display: none; }
#graphLink { width: 30% }
#chart_head { margin: 10px; }
#systemSearch { width: 220px; }
#systemSearchVariants {
	min-height: 30px;
	max-height: 500px;
	min-width: 225px;
	position: absolute;
	padding-top: 5px;
	background-color: #222;
	font-size: 12px;
	overflow-y: scroll;
	display: none;
}
.ssVariant {
	padding: 3px;
}
.ssVariant:hover {
	background-color: #555;
	cursor: pointer;
}
.ssVariantSS {
	font-weight: bold;
}
.ssVariantStar {
	color: white;
	font-weight: bold;
}
.ssVariantReg {
	float:right;
}
#regionCloud {
	width: calc(100% - 230px);
	float: left;
	padding: 10px 0;
}
.hideRegs {
	padding: 5px;
	background-color: grey;
	color: white;
	text-align: center;
	cursor: pointer;
}
.regButton {
	display: inline-block;
	width: 163px; /* Подогнал под ширину The Kalevala Expanse */
	margin: 3px;
	padding: 2px;
	color: white;
	text-align: center;
	cursor: pointer;
}
.regButton.wh { color: #aaa;}
.regButton:hover {
	margin: 2px;
	border: 1px solid white;
}
#selectedStars {
	width: 230px;
	height: 500px;
	float: right;
	padding: 10px 0;
	overflow-y: scroll;
}
.selectedStar {
	margin: 5px;
	padding: 5px;
	color: white;
	background-color: #555;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.deselectStar {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
}
#systemSetHolder {
	width: 75%;
	color: white;
	background-color: #555;
}
.systemHolder {
	width: 190px; /* Подогнал под Tash-Murkon Prime */
	display: inline-block;
	margin: 5px;
}