/* Для графика активности */

#drawing {
	right: 0;
	bottom: 0;
	display: none;
	width: 150px;
	height: 180px;
	padding: 25px;
  position: fixed;
	background-color: white;
	opacity: 0.7;
	color: black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 101;
	text-align: center;
}
#timeSelector {
	margin: 10px;
	float: left;
}
#graphTools {
	float: right;
	margin: 10px;
}
#strForChart { display: none; }
#graphLink { width: 30% }
#chart_head { margin: 10px; }
#systemSearch { width: 220px; }
#regionCloud {
	width: calc(100% - 360px);
	float: left;
	padding: 10px 0;
}
.hideRegs {
	padding: 5px;
	background-color: grey;
	color: white;
	text-align: center;
	cursor: pointer;
}
.regButton {
	display: inline-block;
	width: 163px; /* Подогнал под ширину The Kalevala Expanse */
	margin: 3px;
	padding: 2px;
	color: white;
	text-align: center;
	cursor: pointer;
}
.regButton.wh { color: #aaa;}
.regButton:hover {
	margin: 2px;
	border: 1px solid white;
}
#presets {
	float: right;
	width: 360px;
	padding: 10px 0;
}
#presetName {
	width: 224px;
}
#selectPreset {
	width: 100%;
}
#selectedSystems {
	width: 360px;
	height: 400px;
	float: right;
	padding: 10px 0;
	overflow-y: scroll;
}
.selectedSystem {
	margin: 5px;
	padding: 5px;
	color: white;
	background-color: #555;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.sysRegHolder {
}
.sysRegion {
	margin-top: -15px;
	margin-right: 20px;
	float: right;
	color: #aaa;
	font-size: 10px;
}
.deselectSystem {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
}
#systemSetHolder {
	width: 75%;
	color: white;
	background-color: #555;
}
.systemHolder {
	width: 190px; /* Подогнал под Tash-Murkon Prime */
	display: inline-block;
	margin: 5px;
}