.patchlog {
	padding: 20px;
}
.patchDate {
	font-size: 14px;
	font-style: italic;
}
.patchName {
	margin-top: 30px;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px solid;
}
.patchDesc {
	margin: 10px;
}