<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
</script>
<div class="modal" id="systemSetHolder"></div>
<div class="modal fixed" id="drawing"><img width="150" src="/source/img/loading.gif"></div>
<div id="loading" data-why="sysfilters">
	<span>Подождите, загружаемся</span>
	<div id="annotation"></div>
	<div id="progressbar"><div></div></div>
</div>
<div id="maincaption">{maincaption}</div>
<div id="mainsupport">
	<div>
		<div id="timeSelector">
			<form onsubmit="return false;">
				<label><input type="radio" name="time" data-time="hourly" checked>Часы (последние 48)</label>
				<label><input type="radio" name="time" data-time="daily">Дни (последние 60)</label>
				<label><input type="radio" name="time" data-time="monthly">Месяцы</label>
			</form>
		</div>
		<div id="graphTools">
			<input type="text" id="systemSearch" placeholder="Найти систему">
			<div id="systemSearchVariants"></div>
			{mainsupport}
		</div>
		<div class="clear"></div>
	</div>
	<div>
		<div class="hideRegs">Список регионов и выбранных систем (нажмите чтобы скрыть/показать)</div>
		<div id="regionCloud">
			{regionbuttons}
		</div>
		<div id="selectedStars">{selectedstars}</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div id="maincontent">
	<div id="chart_head">{maincontent}</div>
	<div id="chart_div" style="margin:5px;"></div>
	<div class="clear"></div>
</div>