<div class="modal" id="systemSetHolder"></div>
<div id="loading" data-why="sysfilters">
	<span>Подождите, загружаемся</span>
	<div id="annotation"></div>
	<div id="progressbar"><div></div></div>
</div>

<div id="maincaption">{maincaption}</div>
<div id="mainsupport">{mainsupport}<div class="clear"></div></div>
<div id="maincontent">
	<div>
		<div class="hideRegs">Список регионов и построенный путь</div>
		<div id="regionCloud">
			{regionbuttons}
		</div>
		<div id="pathSide">
			<div id="newPath">
				Проложить новый маршрут:<br/>
				<span class="from"></span> > <span class="to"></span><br/>
				<a href="" class="newPath"><button name="go">Проложить</button></a>
			</div>
			<div id="path"></div>
		</div>
	</div>
	<div class="clear"></div>
	{maincontent}
	<div class="clear"></div>
</div>